@use "../global/fonts";
@use "../global/fieldset";
@use "../global/variables";

.comments {
  @include fieldset.reset();
  position: relative;
}

.comments__title {
  //width: calc(121px + 20px);
  margin-bottom: 38px;

  @media (min-width: variables.$tablet-screen) {
    margin-bottom: 87px;
  }

  @media (min-width: variables.$desktop-screen) {
    margin-bottom: 76px;
  }
}

.comments__input {
  @include fonts.set-font(oswald, #444444, 16px, 18px, uppercase);
  width: 100%;
  min-height: 150px;
  padding: 14px 14px 14px 15px;
}
