@use "../global/fonts";
@use "../global/link";

.copyright {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.copyright__title {
  @include fonts.set-font(lato, #444444, 16px, 20px);
  margin: 0;
}

.copyright__title-link {
  @include link.reset();
  color: #444444;
  padding-top: 7px;
  padding-bottom: 7px;
}
