@use "../global/list";
@use "../global/fonts";

.features__title {
  @include fonts.set-font(oswald, #000000, 36px, 40px);
  margin-bottom: 40px;
}

.features__list {
  @include list.reset;
}

.features__item {
  @include fonts.set-font(lato, #444444, 14px, 18px);
  min-height: 60px;
  position: relative;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    left: -80px;
  }
}

.features__item--leaf::before {
  background-image: url("../img/leaf-icon.svg");
}

.features__item--powder::before {
  background-image: url("../img/powder-icon.svg");
}

.features__item--cutlery::before {
  background-image: url("../img/cutlery-icon.svg");
}

.features__item--timer::before {
  background-image: url("../img/timer-icon.svg");
}

.features__item:not(:last-child) {
  margin-bottom: 20px;
}
