@use "../global/fieldset";
@use "../global/fonts";
@use "../global/variables";

.form__properties-and-program-wrapper {
  @media (min-width: variables.$desktop-screen) {
    display: flex;
  }
}

.form__general-properties,
.form__program-type {
  @include fieldset.reset();
  border-bottom: 1px solid #d9d9d9;
}

.form__owner-contacts {
  @include fieldset.reset();
  margin-top: 44px;
  border-top: 2px solid #68b738;
}

.form__comments {
  @include fieldset.reset();
  border-top: 2px solid #68b738;
}

.form__additional {
  @include fieldset.reset();
  border-top: 2px solid #68b738;
}

.form__required-fields-note {
  @include fonts.set-font(lato, #000000, 14px, 16px);
  text-align: center;
  margin-top: 21px;
  margin-bottom: 32px;
}
