@use "../global/fieldset";
@use "../global/fonts";
@use "../global/variables";

.form__properties-and-program-wrapper {
  @media (min-width: variables.$desktop-screen) {
    display: flex;
    gap: 80px;
  }
}

.form__program-type {

}

.form__owner-contacts {
  @include fieldset.reset();
  margin-top: 26px;
}

.form__comments {

}

.form__additional {

}

.form__required-fields-note {
  @include fonts.set-font(lato, #000000, 14px, 16px);
  text-align: center;
  margin-top: 21px;
  margin-bottom: 32px;
}
