@import "../mixins";

@mixin input-default-size {
  height: 45px;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 13px;
  border: 1px solid #E7E7E7;
}

.general-properties__label {
  padding-right: 13px;
  align-self: center;
}

.general-properties__input {
  @include input-default-size;
  @include Oswald-font;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
}
