@use "../global/fonts";
@use "../global/variables";

.gift {
  background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/catalog/gift/mobile/cat-in-case.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  padding-top: 186px;
  margin-top: 35px;
  margin-bottom: 35px;

  @media (min-width: variables.$tablet-screen) {
    width: 707px;
    height: 200px;
    padding-top: 0;
    display: flex;
    align-items: center;

    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/catalog/gift/tablet/cat-in-case.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/catalog/gift/tablet/cat-in-case@2x.jpg");
    }
  }

  @media (min-width: variables.$desktop-screen) {
    width: 245px;
    height: 289px;
    padding-top: 186px;
    display: block;

    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/catalog/gift/desktop/cat-in-case.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/catalog/gift/desktop/cat-in-case@2x.jpg");
    }
  }
}

.gift__description {
  @include fonts.set-font(lato, #ffffff, 16px, 20px);
  text-align: center;
  width: 161px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/gift-icon.svg");
    top: -128px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;

    @media (min-width: variables.$tablet-screen) {
      top: -10px;
      left: -320px;
      transform: none;
    }

    @media (min-width: variables.$desktop-screen) {
      top: -128px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: variables.$tablet-screen) {
    margin-left: 420px;
    text-align: left;
  }

  @media (min-width: variables.$desktop-screen) {
    margin-left: auto;
    text-align: center;
  }
}
