@use "../global/fonts";
@use "../global/variables";

.gift {
  background:
    linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/cat-in-case.jpg") no-repeat;
  width: 280px;
  height: 290px;
  padding-top: 186px;
  margin-top: 35px;
  margin-bottom: 35px;

  @media (min-width: variables.$desktop-screen) {
    width: 245px;
    height: 289px;
  }
}

.gift__description {
  @include fonts.set-font(lato, #ffffff, 16px, 20px);
  text-align: center;
  width: 161px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../img/gift-icon.svg");
    top: -128px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
  }
}
