@import "../mixins";

.main-footer__links {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

.main-footer__logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__social {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__copyright {
  margin-top: 20px;
  margin-bottom: 20px;
}
