@use "../global/fonts";
@use "../global/input";

.owner-contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-bottom: 41px;
}

.owner-contacts__title {
  //width: calc(187px + 20px);
}

.owner-contacts__item {
  display: flex;
  cursor: pointer;
}

.owner-contacts__text {
  @include fonts.set-font(oswald, #444444, 16px, 18px, uppercase);
  padding-right: 13px;
  align-self: center;
}

.owner-contacts__input {
  @include fonts.set-font(oswald, #444444, 16px, 18px, uppercase);
  @include input.reset();
  flex-grow: 1;
}
