@use "../global/fonts";

.program-card {
  background-color: #f2f2f2;
  padding-top: 24px;
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.program-card__title {
  @include fonts.set-font(oswald, #000000, 24px, 37px, uppercase);
  text-align: left;
  position: relative;
  margin: 0 0 29px 90px;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
  }
}

.program-card__title--slim::before {
  background: url("../img/cat-slim.svg");
  width: 50px;
  height: 53px;
  left: -70px;
}

.program-card__title--pro::before {
  background: url("../img/cat-pro.svg");
  width: 67px;
  height: 50px;
  left: -80px;
}

.program-card__description {
  @include fonts.set-font(lato, #444444, 14px, 18px);
  margin-left: 20px;
  margin-right: 33px;
  margin-bottom: 38px;
}

.program-card__catalog-link {
  @include fonts.set-font(oswald, #000000, 16px, 16px, uppercase);
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    background: url("../img/icon_arrow.svg");
    width: 32px;
    height: 10px;
    right: -47px;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    content: "";
    width: 240px;
    border-bottom: solid 1px #d9d9d9;
    position: absolute;
    left: 0;
    top: -19px;
    z-index: 1;
  }
}
