@use "../global/fonts";
@use "../global/variables";

.button {
  @include fonts.set-font(oswald, #ffffff, 16px, 20px, uppercase);
  text-decoration: none;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 280px;
  display: block;
  border: none;

  &--primary {
    background-color: #68b738;
    color: #ffffff;

    @media (min-width: variables.$tablet-screen) {
      width: 244px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}
