@use "../global/fonts";

.button {
  @include fonts.set-font(oswald, #ffffff, 16px, 20px, uppercase);
  text-decoration: none;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  display: block;
  border: none;

  &--primary {
    background-color: #68b738;
    color: #ffffff;
  }

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;
  }
}
