@use "blocks/inner-container";
@use "blocks/page-container";
@use "global/button";
@use "global/fieldset";
@use "global/fonts";
@use "global/link";
@use "global/title";
@use "global/variables";
@use "blocks/additional";
@use "blocks/business-card";
@use "blocks/catalog";
@use "blocks/catalog-additional";
@use "blocks/catalog-additional-item";
@use "blocks/catalog-card";
@use "blocks/catalog-main";
@use "blocks/catalog-page";
@use "blocks/comments";
@use "blocks/copyright";
@use "blocks/example";
@use "blocks/example-slider";
@use "blocks/features";
@use "blocks/footer-links";
@use "blocks/form";
@use "blocks/form-main";
@use "blocks/form-page";
@use "blocks/general-properties";
@use "blocks/gift";
@use "blocks/hero";
@use "blocks/index-main";
@use "blocks/index-page";
@use "blocks/location";
@use "blocks/main-footer";
@use "blocks/main-header";
@use "blocks/main-menu";
@use "blocks/owner-contacts";
@use "blocks/program";
@use "blocks/program-card";
@use "blocks/program-type";
@use "blocks/programs";
@use "blocks/results";
@use "blocks/socials";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  @include fonts.set-font(lato, #444444, 14px, 18px);
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}
