@import "blocks/fonts";
@import "blocks/index-page";
@import "blocks/index-main";
@import "blocks/catalog-page";
@import "blocks/form-page";
@import "blocks/main-header";
@import "blocks/inner-container";
@import "blocks/main-nav";
@import "blocks/main-footer";
@import "blocks/page-container";
@import "blocks/button";
@import "blocks/catalog-main";
@import "blocks/catalog";
@import "blocks/catalog-additional";
@import "blocks/catalog-additional-item";
@import "blocks/catalog-card";
@import "blocks/comments";
@import "blocks/contacts";
@import "blocks/example";
@import "blocks/features";
@import "blocks/fieldset";
@import "blocks/form";
@import "blocks/general-properties";
@import "blocks/gift";
@import "blocks/hero";
@import "blocks/owner-contacts";
@import "blocks/program";
@import "blocks/program-card";
@import "blocks/programs";
@import "blocks/results";
@import "blocks/social-list";
@import "blocks/copyright";
@import "blocks/link";
@import "mixins";

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Lato", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
}
